# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- Python
- R
- SQL
- Github

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. SciPy
3. Keras

| Data Science Tools |
|:------------------|
| Pandas |
| Hadoop |
| Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60

In [5]:
200/60

3.3333333333333335

## Author
Mohammad Salla